# Server
PORT=5001

# Database (Azure PostgreSQL Flexible Server)
DB_HOST=
DB_PORT=5432
DB_NAME=booking_service_db
DB_USER=
DB_PASSWORD=
DB_SSL=true

# Other Microservices
EVENT_SERVICE_BASE_URL=http://event-service:5002/api
USER_SERVICE_BASE_URL=http://user-service:80/api

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq-service:5672
PAYMENT_RESULT_QUEUE_NAME=payment-result-queue

# Booking Settings
BOOKING_EXPIRY_MINUTES=10
